#app {
  height: 100%;
}

html,
body {
  position: relative;
  height: 100%;
  // width: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  // font-size: 10px; /* Kích thước font mặc định */
  color: #000;
  width: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 100%;
  font-size: 10px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 80vh; /* Giữ chiều cao của hình ảnh */
  object-fit: cover;
}

/* Tạo sự thu nhỏ khi màn hình giảm kích thước */
@media (max-width: 1024px) {
  body {
    font-size: 12px; /* Giảm kích thước font */
  }

  .swiper-slide {
    font-size: 16px; /* Giảm kích thước chữ trong slide */
  }

  .swiper-slide img {
    height: 60vh; /* Giảm chiều cao hình ảnh khi màn hình nhỏ */
  }
}

@media (max-width: 768px) {
  body {
    font-size: 10px; /* Giảm kích thước font trên màn hình nhỏ */
  }

  .swiper-slide {
    font-size: 14px; /* Giảm font-size cho chữ */
  }

  .swiper-slide img {
    height: 50vh; /* Hình ảnh sẽ chiếm 50% chiều cao viewport */
  }
}

@media (max-width: 480px) {
  body {
    font-size: 8px; /* Giảm thêm kích thước font cho màn hình nhỏ */
  }

  .swiper-slide {
    font-size: 12px; /* Giảm kích thước chữ thêm */
  }

  .swiper-slide img {
    height: 40vh; /* Hình ảnh sẽ nhỏ hơn nữa */
  }
}

/* Bạn có thể điều chỉnh thêm nếu cần cho các màn hình nhỏ hơn */
