.content{
  font-size: 22px;
    .h1_content{
        color: #e26600;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 20px;
    }
    
}
.descreption{
    // padding: 10px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    text-align: center;

}
.dichvu{
    display: flex;
    flex-wrap: wrap;
    padding: 40px 150px;
    gap: 100px;
    font-size: 22px;
    // background: linear-gradient(to right, #c77f5d, rgba(251, 240, 122, 0.732), rgba(247, 202, 87, 0));
    // border-radius: 10px;
    // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  // &__left, &__right {
  //   flex: 1;
  // }
    img{
        border-radius: 5px;
    }
    .subject_content{
        font-size: 28px;
        color: chocolate;
        width: 550px;
    }
    .dichvu_content{
        color: gray;
         margin-top: 30px;
         width: 550px;
    }
}
